.best_seller{
  background: #FFFFFF;
  width: 100%;
}

.flex_sellers_item{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin-top: 150px;
  margin-bottom: 183px;
}

.best_seller h1{
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 63px;

}

.best_seller p{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;

}

@media (max-width:768px) {
  
.flex_sellers_item{
  display: block;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}
.image img{
  width: 100%;
}
  
}